@model PaginationViewModel<Desafio>

@{
    ViewData["Title"] = "Desafios";
    ViewData["Pagination-Action"] = "Index";
}

<h3>Tus Desafíos</h3>

<div class="row">
    @Html.Partial("Desafios/_BusquedaDesafioPartial",
    new SearchDesafioViewModel(), ViewData)
    <div class="col-xs-12">
        <a class="btn btn-icon btn-info pull-right" asp-action="Create"
           asp-controller="Desafios">
            Nuevo Desafío
            <i class="material-icons">add_circle_outline</i>
        </a>
    </div>
</div>

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descipción
            </th>
            <th>
                Criterios de Evaluación
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" 
                       asp-controller="Desafios"
                       asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </a>
                </td>
                <td>
                    <p>
                        @item.Descripcion
                    </p>
                </td>
                <td>
                    <button class="btn btn-info btn-block col-sm-6" 
                            data-toggle="modal" 
                            data-target="#modal-info-@item.Id">
                        <i class="material-icons">info_outline</i>
                    </button>
                </td>
                <td>
                    <div class="col-xs-12">
                        <a class="btn btn-sm btn-simple" asp-action="Edit">
                            <i class="material-icons">create</i>
                        </a>
                        <a class="btn btn-sm btn-simple btn-danger" asp-action="Delete">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("Pagination/_PaginationPartial", Model, ViewData)

@section Modals {
    @foreach (var item in Model)
    {
        <div class="modal fade" id="modal-info-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Criterios del evaluación - Desafío @item.Nombre
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            @await Html.PartialAsync("Desafios/_DesafioInfoPartial", item.InfoDesafio)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}