@model PaginationViewModel<Desafio>

@{
    ViewData["Title"] = "Desafios";
    ViewData["Pagination-Action"] = "Index";
}

<section>
    <div class="container">
        <div class="row">
            <h2>
                <span class="title">Tus</span> Desafíos
                <a class="btn btn-icon btn-fab btn-fab-mini btn-info" asp-action="Create"
                   asp-controller="Desafios">

                    <i class="material-icons icon-lg">add</i>
                </a>
            </h2>
        </div>
    </div>
    <hr />
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("Desafios/_BusquedaDesafioPartial",
    new SearchDesafioViewModel(), ViewData)
            <div class="col-xs-12">

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descipción
                    </th>
                    <th class="text-center">
                        Criterios de Evaluación
                    </th>
                    <th class="text-center">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details"
                               asp-controller="Desafios"
                               asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </a>
                        </td>
                        <td>
                            <p>
                                @item.Descripcion
                            </p>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-info btn-simple"
                                    data-toggle="modal"
                                    data-target="#modal-info-@item.Id">
                                <i class="material-icons icon-xl">info_outline</i>
                            </button>
                        </td>
                        <td>
                            <div class="text-center">
                                <a class="btn btn-sm btn-info btn-round" asp-action="Edit">
                                    <i class="material-icons">create</i>
                                </a>
                                <button class="btn btn-sm btn-round btn-danger"
                                        data-toggle="modal"
                                        data-target="#modal-delete-@item.Id">
                                    <i class="material-icons">delete_forever</i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync("Pagination/_PaginationPartial", Model, ViewData)
    </div>
</section>

@section Modals {
    @foreach (var item in Model)
    {
        <div class="modal fade" id="modal-info-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Criterios del evaluación - Desafío @item.Nombre
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            @await Html.PartialAsync("Desafios/_DesafioInfoPartial", item.InfoDesafio)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Desafios/_Modal_EliminarDesafio", item)
    }
}