@model PaginationViewModel<DesafioDetailsViewModel>

@{
    ViewData["Title"] = "Desafios";
    ViewData["Pagination-Action"] = "Index";
    ViewData["rating-size"] = "icon-md";
}

<section>
    <div class="container">
        <h2><span class="title">Buscar</span> Desafíos</h2>

        <div class="row">
            @Html.Partial("Desafios/_BusquedaDesafioPartial",
    new SearchDesafioViewModel(), ViewData)
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Descipción
                    </th>
                    <th>Popularidad</th>
                    <th>Valoración</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </a>
                        </td>
                        <td>
                            <p>@item.Profesor.NombreCompleto</p>
                        </td>
                        <td>
                            <p>
                                @item.Descripcion
                            </p>
                        </td>
                        <td>
                            <i class="material-icons icon-lg">person</i>
                            <span class="rating-text icon-md">@item.Popularidad</span>
                        </td>
                        <td>
                            @Html.Partial("Rating/_RatingPartial", item.Valoracion, ViewData)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@await Html.PartialAsync("Pagination/_PaginationPartial", Model, ViewData)
