@model CalificacionCualitativaViewModel
@{
    ViewData["Title"] = "Calificar";
}

@section Styles {
    <link href="~/css/Calificar/calificar.css" rel="stylesheet" />
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<h2>Calificación del estudiante en el desafio: @Model.NombreDesafio</h2>

<div class="row">

</div>

<div class="row">
    <hr />
    <div class="col-sm-8">
        @foreach (var item in Model.Registro.Calificaciones)
        {
            <div>@item.TiempoFinal</div>
            @await Html.PartialAsync("_ResultadoScratchPartial", item.ResultadoGeneral);
        }
    </div>
    <div class="col-sm-4">
        <div class="card">
            @if (!Model.Calificado)
            {
                <div class="header header-warning padding-10"
                     style="height: 100%;">
                    <h3>Califica éste estudiante:</h3>
                </div>
                <div class="content padding-50">
                    @Html.Partial("_AddCalificacionCualitativa", Model.FormModel)
                </div>
            }
            else
            {
                <div class="header header-success padding-10"
                     style="height: 100%;">
                    <h5 class="">
                        Estudiante Calificado el:
                        @Model.FormModel.FechaRegistro
                        <span class="pull-right glyphicon glyphicon-ok"></span>
                    </h5>
                </div>
                <div class="content padding-50">
                    @Html.Partial("_EditCalificacionCualitativa", Model.FormModel)
                </div>

            }

        </div>
    </div>


</div>

@section Modals {
    @foreach (var item in Model.Registro.Calificaciones)
    {
        @await Html.PartialAsync("_Modal_ResultadoScratchPartial", item.ResultadoGeneral);
    }
}