@model CalificacionesViewModel
@{
    ViewData["Title"] = "Calificar";
    ViewData["idDesafio"] = Model.Registro.DesafioId;
    ViewData["idCurso"] = Model.Registro.CursoId;
    ViewData["idEstudiante"] = Model.Registro.EstudianteId;
}

@section Styles {
    <link href="~/css/Calificar/calificar.css" rel="stylesheet" />
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<section>
    <div class="container-fluid">
        <h2>
            <span class="title">Calificación</span> 
            @Model.NombreDesafio
        </h2>
        <h3>
            @Model.NombreEstudiante - @Model.NombreCurso
        </h3>
        <div>
            <a asp-action="Details" 
               asp-controller="ProfesorCurso"
               asp-route-idCurso="@Model.Registro.CursoId"
               class="btn btn-primary btn-round">
                <i class="material-icons">arrow_back</i>
                Ver curso
            </a>
        </div>
    </div>
</section>


<section class="section-gray section">
    <div class="container-fluid">
    @foreach (var item in Model.Registro.Calificaciones)
    {

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-content">
                    @if (item.CalificacionCualitativa == null)
                    {
                        <h6 class="category text-warning">
                            Calificación
                            <i class="material-icons">priority_high</i>
                        </h6>
                        <hr />
                        @Html.Partial("_AddCalificacionCualitativa",
                       new CalificarViewModel(item.Id), ViewData)
                    }
                    else
                    {
                        <h6 class="category text-success">
                            Calificado el: @item.CalificacionCualitativa.FechaRegistro
                            <i class="material-icons">done</i>
                        </h6>
                        @Html.Partial("_EditCalificacionCualitativa",
                            item.CalificacionCualitativa)

                    }
                </div>
            </div>

        </div>
        <div class="col-sm-8 col-md-9">
            @await Html.PartialAsync("_ResultadoScratchPartial", item.ResultadoGeneral)
            ;
            <div class="sub-card">
                <a asp-action="EvaluacionCompleta"
                   asp-controller="ProfesorEstudiante"
                   asp-route-idCurso="@item.CursoId"
                   asp-route-idEstudiante="@item.EstudianteId"
                   asp-route-idDesafio="@item.DesafioId"
                   asp-route-idCalificacion="@item.Id"
                   class="btn btn-white btn-round btn-raised pull-right">
                    Ver más
                    <i class="material-icons">description</i>
                </a>
                <a href="https://scratch.mit.edu/projects/@item.DirArchivo"
                   target="_blank"
                   class="btn btn-white btn-round btn-raised pull-right">
                    Ver proyecto
                    <i class="material-icons">launch</i>
                </a>
            </div>
        </div>
    }
    </div>
</section>



@section Modals {
    @foreach (var cal in Model.CalificacionList)
    {
        @await Html.PartialAsync("Evaluacion/_Modal_ResultadoEstudiantePartial", cal)
    }

    @foreach (var item in Model.Registro.Calificaciones)
    {
        @await Html.PartialAsync("Evaluacion/_Modal_ResultadoBloquesPartial", item.ResultadoGeneral)
    }
}