@model CalificacionCualitativaViewModel
@{
    ViewData["Title"] = "Calificar";
}

@section Styles {
    <link href="~/css/Calificar/calificar.css" rel="stylesheet" />
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <h2>
            <span class="title">Calificación</span> 
            estudiante - @Model.NombreDesafio
        </h2>
    </div>
</section>


<section class="section-gray section">
    <div class="container-fluid">
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-content">
                    @if (!Model.Calificado)
                    { 
                        <h6 class="category text-warning">
                            Calificación
                            <i class="material-icons">priority_high</i>
                        </h6>
                        <hr/>
                        @Html.Partial("_AddCalificacionCualitativa", Model.FormModel)
                    }
                    else
                    {
                        <h6 class="category text-success">
                            Calificado el:
                            @Model.FormModel.FechaRegistro
                            <i class="material-icons">done</i>
                        </h6>
                        @Html.Partial("_EditCalificacionCualitativa", Model.FormModel)
                        
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            @foreach (var item in Model.Registro.Calificaciones)
            {
                @await Html.PartialAsync("_ResultadoScratchPartial", item.ResultadoGeneral);
                <div class="sub-card">
                    <a asp-action="EvaluacionCompleta"
                       asp-controller="ProfesorEstudiante"
                       asp-route-idCurso="@item.CursoId"
                       asp-route-idEstudiante="@item.EstudianteId"
                       asp-route-idDesafio="@item.DesafioId"
                       asp-route-idCalificacion="@item.Id"
                       class="btn btn-white btn-round btn-raised pull-right">
                        Ver más
                        <i class="material-icons">launch</i>
                    </a>
                </div>
            }
        </div>
    </div>
</section>



@section Modals {
    @foreach (var item in Model.Registro.Calificaciones)
    {
        @await Html.PartialAsync("Evaluacion/_EvaluacionEstudiantePartial", item.ResultadoGeneral);
        @await Html.PartialAsync("_Modal_ResultadoScratchPartial", item.ResultadoGeneral)
    }
}