@model CalificacionCualitativaViewModel
@{
    ViewData["Title"] = "Calificar";
}

@section Styles {
    <link href="~/css/Calificar/calificar.css" rel="stylesheet" />
}

<h2>Vista detallada de las notas del estudiante</h2>
<div class="row">
    
    @foreach (var item in Model.Registro.Calificaciones)
    {   
        <div class="card shadow col-sm-12">
            <div class="card-header">
                <h3>
                    Registro Día @item.Tiempoinicio
                </h3>
            </div>
            <div class="card-content">
                <p>
                    Duracion: @item.Duracion.Hours 
                    : @item.Duracion.Minutes
                    : @item.Duracion.Seconds
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-info" asp-controller="File" 
                   asp-action="DownloadResultado" 
                   asp-route-estudianteId="@item.EstudianteId"
                   asp-route-cursoId="@item.CursoId"
                   asp-route-desafioId="@item.DesafioId"
                   asp-route-idCalificacion="@item.Id">
                    Descarga los resultados del estudiante
                    <span class="glyphicon glyphicon-download"></span>
                </a>
            </div>
        </div>
    }

</div>

