@model ResultadoScratch
@{
    var info = Model.IInfoScratch_General;
}

<div class="row">
    <h4><span class="title">Variables</span> Generales</h4>
    <div class="col-sm-6">
        <dl class="">
            <dt>Más de un sprite tiene eventos</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.EventsUse)</dd>

            <dt>Uso correcto de mensasjes</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.MessageUse)</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="">
            <dt>Uso, y creación, de variables compartidas: </dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.SharedVariables)</dd>

            <dt>Uso, y creación, de listas:</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.ListUse)</dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Abstracción y reconocimiento de patrones</h4>
        <dl class="">
            <dt>Se usan todos los bloques (@info.NonUnusedBlocks / @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.NonUnusedBlocks / info.SpriteCount)
            </dd>

            <dt>Creación de bloques propios (@info.UserDefinedBlocks / @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.UserDefinedBlocks / info.SpriteCount)
            </dd>

            <dt>Uso de clones (@info.CloneUse / @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.CloneUse / info.SpriteCount)
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <h4>Control de flujo</h4>
        <dl class="">
            <dt>Uso de bloques simples (@info.UseSimpleBlocks/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.UseSimpleBlocks / info.SpriteCount)
            </dd>

            <dt>Uso de bloques complejos (@info.UseMediumBlocks/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.UseMediumBlocks / info.SpriteCount)
            </dd>

            <dt>Uso de bloques anidados (@info.UseNestedControl/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.UseNestedControl / info.SpriteCount)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Recolección de información</h4>
        <dl class="">
            <dt>Uso de bloques de entrada de datos (@info.BasicInputUse/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.BasicInputUse / info.SpriteCount)
            </dd>

            <dt>Uso de variables no creadas (@info.VariableUse/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.VariableUse / info.SpriteCount)
            </dd>

            <dt>Uso de sensores de sprite (@info.SpriteSensing/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.SpriteSensing / info.SpriteCount)
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <h4>Análisis de información</h4>
        <dl class="">
            <dt>Operadores lógicos básicos (@info.BasicOperators/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.BasicOperators / info.SpriteCount)
            </dd>

            <dt>Operadores lógicos complejos (@info.VariableUse/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.VariableUse / info.SpriteCount)
            </dd>

            <dt>Operadores lógicos anidados (@info.AdvancedOperators/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.AdvancedOperators / info.SpriteCount)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Paralelismo y sincronización</h4>
        <dl class="">
            <dt>Dos hilos inciando con bandera verde (@info.TwoGreenFlagTrhead/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.TwoGreenFlagTrhead / info.SpriteCount)
            </dd>

            <dt>Usa más de un tipo de evento (@info.AdvancedEventUse/ @info.SpriteCount)</dt>
            <dd>
                @Html.Partial("ProgressBar/Success", (float)info.AdvancedEventUse / info.SpriteCount)
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <div>
            <h4>Descomposición de Prolemas</h4>
            <dl class="">
                <dt>Dos hilos por sprite (@info.MultipleThreads/ @info.SpriteCount)</dt>
                <dd>
                    @Html.Partial("ProgressBar/Success", (float)info.MultipleThreads / info.SpriteCount)
                </dd>
            </dl>
        </div>
        <div>
            <h4>Pensamiento algorítmico</h4>
            <dl class="">
                <dt>Uso de Secuencias (@info.SecuenceUse/ @info.SpriteCount)</dt>
                <dd>
                    @Html.Partial("ProgressBar/Success", (float)info.SecuenceUse / info.SpriteCount)
                </dd>
            </dl>
        </div>
    </div>
    
    
</div>