@model EvaluacionViewModel
@{
    var info = Model;
}
<div class="row">
    <h4><span class="title">Variables</span> Generales</h4>
    <div class="col-sm-6">
        <dl class="">
            <dt>Más de un sprite tiene eventos</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.EventsUse)</dd>

            <dt>Uso correcto de mensasjes</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.MessageUse)</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="">
            <dt>Uso, y creación, de variables compartidas: </dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.SharedVariables)</dd>

            <dt>Uso, y creación, de listas:</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.ListUse)</dd>
        </dl>
    </div>
</div>
<div class="row">
    <hr />
    <div class="col-sm-6">
        <h4>Abstracción y reconocimiento de patrones</h4>
        <dl class="">
            @Html.Partial("ProgressBar/OptionalValue",new PropertyViewModel("Se usan todos los bloques",info.NonUnusedBlocks))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Creación de bloques propios", info.UserDefinedBlocks))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de Clones", info.CloneUse))
        </dl>
    </div>
    <div class="col-sm-6">
        <h4>Control de flujo</h4>
        <dl class="">
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de bloques simples", info.UseSimpleBlocks))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de bloques complejos", info.UseMediumBlocks))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Se usan todos los bloques", info.UseNestedControl))
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Recolección de información</h4>
        <dl class="">
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de bloques de entrada de datos", info.BasicInputUse))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de variables no creadas", info.VariableUse))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de sensores de sprite", info.SpriteSensing))
        </dl>
    </div>
    <div class="col-sm-6">
        <h4>Análisis de información</h4>
        <dl class="">
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Operadores lógicos básicos ", info.BasicOperators))
            
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Operadores lógicos complejos", info.MediumOperators))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Operadores lógicos anidados", info.AdvancedOperators))
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Paralelismo y sincronización</h4>
        <dl class="">
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Dos hilos iniciando con bandera verde", info.TwoGreenFlagTrhead))
            @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Usa más de un tipo de evento", info.AdvancedEventUse))
        </dl>
    </div>
    <div class="col-sm-6">
        <div>
            <h4>Descomposición de Prolemas</h4>
            <dl class="">
                @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Dos hilos por sprite", info.MultipleThreads))
            </dl>
        </div>
        <div>
            <h4>Pensamiento algorítmico</h4>
            <dl class="">
                @Html.Partial("ProgressBar/OptionalValue", new PropertyViewModel("Uso de secuencias", info.SecuenceUse))
            </dl>
        </div>
    </div>
</div>