@model Curso
@{
    ViewData["Title"] = Model.Nombre;
}

<div class="text-center">
    <h2>@Model.Nombre</h2>
    <h3>@Model.Profesor.NombreCompleto</h3>
</div>

<div class="row">
    <div class="title text-center">
        <h3>Tus Desafíos</h3>
        <hr />
    </div>
    <div class="col-md-6">
        <div class="list-group">
            <div class="list-group-item">
                <span class="badge">@Model.Desafio.Dificultad</span>
                <h3>
                    <a asp-action="Desafio" asp-route-cursoId="@Model.Id" asp-route-desafioId="@Model.DesafioId">
                        @Model.Desafio.Nombre
                    </a>
                </h3>
                <h4>@Model.Desafio.Descripcion</h4>
            </div>
            @foreach (var item in Model.Desafios)
            {
                <div class="list-group-item">
                    <span class="badge">@item.Desafio.Dificultad</span>
                    <h3>
                        <a asp-action="Desafio" asp-route-cursoId="@Model.Id" asp-route-desafioId="@item.DesafioID">
                            @item.Desafio.Nombre
                        </a>
                    </h3>
                    <h4>@item.Desafio.Descripcion</h4>
                </div>
            }
        </div>
    </div>
</div>

