@model RegistroCalificacion

@{
    ViewData["Title"] = Model.Desafio.Nombre;
}

<div class="row">
    <div class="col-md-6">
        <h2>@Model.Desafio.Nombre</h2>
    </div>
    <div class="col-md-6">
        @if (Model.Iniciada)
        {
            <h3>Iniciada</h3>
        }else
        { 
            <h3>Sin Completar</h3>
        }
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-6">
        <h3>Instrucciones</h3>
        <p>@Model.Desafio.Descripcion</p>
    </div>
    @if (!Model.Iniciada)
    {
        <div class="col-md-6">
            <a class="btn btn-info" asp-action="IniciarDesafio" asp-route-desafioId="@Model.DesafioId"
               asp-route-cursoId="@Model.CursoId">
                ¡Descarga la escena!
                <span class="glyphicon glyphicon-download"></span>
            </a>
        </div>
    }
</div>

@if (Model.Iniciada)
{
    <div class="row">
        <hr />
        <form method="post" enctype="multipart/form-data" asp-action="UploadResultado" asp-controller="File">
            <div class="form-horizontal">                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>                
                <input asp-for="@Model.DesafioId" type="hidden"/>
                <input asp-for="@Model.EstudianteId" type="hidden"/>
                <input asp-for="@Model.CursoId" type="hidden"/>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        Escenario Desafío
                    </label>
                    <div class="col-md-10">
                        <label class="btn btn-success btn-file">
                            Selecciona el Archivo... 
                            <input style="display: none;" type="file" name="file" required />
                        </label>                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <input type="submit" value="¡Completar Desafío!" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
}

