@model ProfesorCursoViewModel

@{
    ViewData["Title"] = "Details";
    var info = Model.Info;
    var sexChart = info.GetDistribucionSexo("ct-chart ct-octave ct-inner-label", "inside", 4);
    var activityChart = info.GetActividadCurso("ct-chart ct-chart-white ct-double-octave");
}

@section Styles {
    <enviroment names="Development">
        <link href="~/css/Autocomplete/easy-autocomplete.min.css" rel="stylesheet" />
        <link href="~/css/Autocomplete/easy-autocomplete.themes.min.css" rel="stylesheet" />
    </enviroment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/autocomplete.min.css" asp-append-version="true" />
    </environment>
}

<section>
    <div class="container">
        <h2 class="">
            <span class="title">Curso</span>
            @Model.Curso.Nombre
            <a asp-action="Edit"
               asp-controller="Curso"
               class="btn btn-sm btn-info btn-fab btn-fab-mini">
                <i class="material-icons icon-lg">edit</i>
            </a>
        </h2>
    </div>
</section>
<section class="section section-gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-offset-2 col-md-4 col-lg-3 ">
                <div class="card">
                    <div class="card-content">
                        <h4 class="text-info category">
                            <i class="material-icons">info</i>
                            Información básica
                        </h4>
                        <div>
                            <dl class="">
                                <dt>
                                    Nombre del Curso
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Curso.Nombre)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Curso.Descripcion)
                                </dt>
                                <dd>
                                    Descripción del Curso
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Curso.Password)
                                </dt>
                                <dd>
                                    Contraseña del Curso
                                </dd>
                                <dt>
                                    Desafío inicial
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Curso.Desafio.Nombre)
                                </dd>
                                <dt>Número de estudiantes matriculados</dt>
                                <dd>@Model.Curso.Estudiantes.Count</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <div class="card-content">
                        <h4 class="text-danger category">
                            <i class="material-icons">pie_chart</i>
                            Distribución por sexo
                        </h4>
                        @await Html.PartialAsync("Charts/_PieChartPartial", sexChart)
                    </div>
                    <div class="card-footer">
                        @await Html.PartialAsync("Charts/_ChartLegendPartial", sexChart.GetFooterViewModel)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-10 col-lg-offset-1">
                <div class="card card-chart">
                    <div class="card card-header" data-background-color="blue">
                        @await Html.PartialAsync("Charts/_RoundLinePartial", activityChart)
                    </div>
                    <div class="card-content">
                        <h4 class=""><span class="card-title">Actividad</span> del curso</h4>
                        <p class="category">durante la última semana</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <h2 class="section-title">Progreso de tus estudiantes</h2>
        <div class="row">
            <div class="col-md-2 text-center">
                <h4 class="title">Acciones</h4>

                <span type="button" class=" btn-tooltip" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Agregar Desafío">
                    <button class="btn btn-sm btn-info btn-round" data-toggle="modal" data-target="#myModal">
                        <i class="material-icons icon-lg">add</i>
                    </button>
                </span>
                <span type="button" class=" btn-tooltip" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="Cambiar Desafío Inicial">
                    <button class="btn btn-sm btn-warning btn-round" data-toggle="modal" data-target="#modal-change-starter">
                        <i class="material-icons icon-lg">sync</i>
                    </button>
                </span>
                <hr />
            </div>
            <div class="col-md-10">
                <h4 class="title">Tabla estudiantes-desafíos</h4>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>
                                Estudiantes\Desafíos
                            </th>
                            @foreach (var item in Model.Curso.Desafios)
                            {
                            <th>
                                <a asp-controller="ProfesorCurso" asp-action="Progres" asp-route-idDesafio="@item.DesafioId">
                                    @item.Desafio.Nombre
                                    @if (item.Initial)
                                        {
                                        <i class="material-icons text-warning">stars</i>
                                        }
                                </a>
                                @if (!item.Initial)
                                    {
                                    <button class="btn btn-sm btn-simple btn-danger " data-toggle="modal" data-target="#modal-remove-@item.DesafioId">
                                        <i class="material-icons icon-lg">remove_circle_outline</i>
                                    </button>
                                    }


                            </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Curso.Estudiantes.Count <= 0)
                        {
                        <tr>
                            <td colspan="@(Model.Curso.Desafios.Count+1)">
                                @Html.Partial("_NoStudentsPartial");
                            </td>
                        </tr>

                        }
                        @foreach (var item in Model.Curso.Estudiantes)
                        {
                        <tr>
                            <td>
                                <strong>
                                    <a asp-action="Estudiante" asp-route-idCurso="@Model.Curso.Id" asp-route-idEstudiante="@item.EstudianteId">
                                        @item.Estudiante.NombreCompleto
                                    </a>
                                </strong>
                            </td>
                            @foreach (var desafio in Model.Curso.Desafios)
                                {
                                    if (Model.RegistrosCurso.ContainsKey(
                                        new Tuple<int, int>(desafio.DesafioId, item.EstudianteId)))
                                    {
                                        var reg = Model.RegistrosCurso[
                                        new Tuple<int, int>(desafio.DesafioId, item.EstudianteId)];
                                <td>
                                    @if (reg.First().CalificacionCualitativa != null
              && reg.First().CalificacionCualitativa.Completada)
                                           {
                                            <a class="btn btn-success btn-xs"
                                               asp-action="Calificar"
                                               asp-controller="ProfesorEstudiante"
                                               asp-route-idCurso="@Model.Curso.Id"
                                               asp-route-idEstudiante="@item.EstudianteId"
                                               asp-route-idDesafio="@desafio.DesafioId">
                                                <i class="material-icons">done</i>
                                            </a>
                                           }
                                           else
                                           {
                                            <a class="btn btn-warning btn-xs"
                                               asp-action="Calificar"
                                               asp-controller="ProfesorEstudiante"
                                               asp-route-idCurso="@Model.Curso.Id"
                                               asp-route-idEstudiante="@item.EstudianteId"
                                               asp-route-idDesafio="@desafio.DesafioId">
                                                <i class="material-icons">priority_high</i>
                                            </a>
                                           }
                                </td>
                                    }
                                    else
                                    {
                                <td></td>
                                    }
                                }
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="4">
                                <p>
                                    <strong>Nota: </strong>
                                    Pendientes
                                    <i class="material-icons icon-md">
                                        priority_high
                                    </i>
                                    -
                                    Calificados
                                    <i class="material-icons icon-md">
                                        done
                                    </i>
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>








@section Modals {
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">
                        <span class="title">Agrega </span> un desafío al curso
                        <a class="btn btn-info btn-fab btn-fab-mini" asp-action="Create" asp-controller="Desafios" target="_blank">
                            <i class="material-icons icon-lg">add</i>
                        </a>
                    </h3>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <form class=""
                                  method="post"
                                  asp-action="AddDesafio" asp-controller="Cursos">
                                <input id="input-desafioId" type="hidden" name="DesafioId" value="" />
                                <input name="Id" value="@Model.Curso.Id" type="hidden" />
                                <div class="form-group label-floating col-sm-6 col-md-4 col-lg-4">
                                    <input id="input-desafioNombre" name="Nombre" class="form-control" placeholder="Nombre desafío" />
                                </div>
                                <div class="form-group label-floating col-sm-6 col-md-4 col-lg-4 ">
                                    <input id="input-desafioAutor" class="form-control" placeholder="Autor Desafío
                               " Disabled />
                                </div>

                                <div class="form-group label-floating col-sm-6 col-md-4 col-lg-4">
                                    <input id="input-desafioDescripcion" class="form-control" Disabled placeholder="Descripción del desafío" />
                                </div>
                                <div id="div-lnk-desafio" class="form-group col-sm-6 col-md-4 col-lg-4 text-center" style="display:none">
                                    <a id="lnk-desafio" href="" target="_blank" class="btn btn-sm btn-round btn-primary">
                                        Ver desafío <i class="material-icons icon-lg">open_in_new</i>
                                    </a>
                                </div>
                                <div id="btn-agregarDesafio" class="col-xs-12 text-center" style="display:none">
                                    <button class="btn btn-primary btn-round" type="submit">Agregar!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="modal-change-starter" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span class="title">Escoge</span> el nuevo desafío inicial
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <form method="post"
                                  asp-action="ChangeStarter"
                                  asp-controller="Cursos"
                                  asp-antiforgery="true"
                                  class="form-horizontal">
                                <input id="input-desafioId" type="hidden" name="DesafioId" value="" />
                                <input name="CursoId" value="@Model.Curso.Id" type="hidden" />
                                <input name="OldStarterId" value="@Model.Curso.Desafio.Id" type="hidden" />

                                <div class="form-group ">
                                    <select name="NewStarterId"
                                            asp-items='@(IEnumerable<SelectListItem>)ViewData["select-desafios"]'
                                            class="form-control"></select>
                                </div>

                                <div class="text-center col-sm-12">
                                    <input class="btn btn-primary btn-round" type="submit" value="¡Cambiar!" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @foreach (var item in Model.Curso.Desafios)
    {
        <div id="modal-remove-@item.DesafioId" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">
                            <span class="title">Remover</span> Desafío
                        </h2>

                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <form asp-action="RemoveDesafio"
                                      asp-controller="Cursos"
                                      asp-route-desafioId="@item.DesafioId"
                                      asp-route-cursoId="@Model.Curso.Id"
                                      asp-antiforgery="true"
                                      class="form-horizontal">
                                    <div>
                                        Al remover éste desafío, se eliminarán todas las calificaciónes asociadas a éste
                                        ¿Desea Continuar?
                                    </div>
                                    <div class="text-center col-sm-12">
                                        <input class="btn btn-primary btn-round" type="submit" value="Remover" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


}
@section Scripts {
    <environment names="Development">
        <script src="~/js/Autocomplete/jquery.easy-autocomplete.min.js"></script>
        <script src="~/js/Autocomplete/autocomplete-client.js"></script>
        <script src="~/js/Cursos/Details.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/autocomplete.min.js"></script>
        <script src="~/js/cursos.min.js"></script>
    </environment>

}
