@model ProgresoDesafioViewModel

@{
    ViewData["Title"] = "Progres";
}
<h1> El promdeio de tiempo en que se resuelve el desafio es de:  @Model.promedioTiempos </h1>
<h1> @Model.estudiantesQueFinalizaron.Count fueron los que terminaron el desafio</h1>
@{ 
    for (int i = 0; i < Model.estudiantesQueFinalizaron.Count; i++)
    {
        <h2>@Model.estudiantesQueFinalizaron[i].Nombres</h2>
    }
}
<h1> @Model.estudiantesQueNoFinalizaron.Count fueron los que no terminaron el desafio</h1>
@{
    for (int i = 0; i < Model.estudiantesQueNoFinalizaron.Count; i++)
    {
        <h2>@Model.estudiantesQueNoFinalizaron[i].Nombres</h2>
    }
}



