@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="es" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hera</title>

    @Html.Partial("Default/_StylesPartial")

    @RenderSection("Styles", false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="index-page">
    <nav class="navbar navbar-primary navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <strong>He</strong>ra
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @await  Component.InvokeAsync("Navbar")
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <section class="section-notifications">
        @await Html.PartialAsync("Notification/_AlertsPartial", ViewData)
    </section>
    <div class="header"
        style="height:100%; background-size: cover; 
        background-position: top center; height: 160px">
    </div>
    
    
    <div class="wrapper">
        <div class="main main-raised">
            <div class="body-content profile-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Modals", false)

    @Html.Partial("Default/_ScriptsPartial")

    @RenderSection("Scripts", required: false)
</body>
</html>
