@model ResultadoScratch
@{
    var info = Model.IInfoScratch_General;
}


<div class="modal fade" id="modal-info-@Model.Nombre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">
                    <span class="title">Valoración</span>
                    General
                </h3>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <h4><span class="title">Variables</span> Generales</h4>
                        <div class="col-sm-6">
                            <dl class="">
                                <dt>Más de un sprite tiene eventos</dt>
                                <dd>@Html.Partial("Util/_CompletadoPartial", info.EventsUse)</dd>

                                <dt>Uso correcto de mensasjes</dt>
                                <dd>@Html.Partial("Util/_CompletadoPartial", info.MessageUse)</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="">
                                <dt>Uso, y creación, de variables compartidas: </dt>
                                <dd>@Html.Partial("Util/_CompletadoPartial", info.SharedVariables)</dd>

                                <dt>Uso, y creación, de listas:</dt>
                                <dd>@Html.Partial("Util/_CompletadoPartial", info.ListUse)</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-sm-6">
                            <h4>Abstracción y reconocimiento de patrones</h4>
                            <dl class="">
                                <dt>Se usan todos los bloques</dt>
                                <dd>
                                    @info.NonUnusedBlocks / @info.SpriteCount
                                </dd>

                                <dt>Creación de bloques propios</dt>
                                <dd>@info.UserDefinedBlocks / @info.SpriteCount

                                <dt>Uso de clones</dt>
                                <dd>@info.CloneUse</dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Pensamiento algorítmico</h4>
                            <dl class="">
                                <dt>Uso de Secuencias</dt>
                                <dd>@info.SecuenceUse/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Descomposición de Prolemas</h4>
                            <dl class="">
                                <dt>Dos hilos por sprite</dt>
                                <dd>@info.MultipleThreads/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Paralelismo y sincronización</h4>
                            <dl class="">
                                <dt>Dos hilos inciando con bandera verde</dt>
                                <dd>@info.TwoGreenFlagTrhead/ @info.SpriteCount </dd>

                                <dt>Usa más de un tipo de evento</dt>
                                <dd>@info.AdvancedEventUse/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Control de flujo</h4>
                            <dl class="">
                                <dt>Uso de bloques simples</dt>
                                <dd>@info.UseSimpleBlocks/ @info.SpriteCount </dd>

                                <dt>Uso de bloques complejos</dt>
                                <dd>@info.UseMediumBlocks/ @info.SpriteCount </dd>

                                <dt>Uso de bloques anidados</dt>
                                <dd>@info.UseNestedControl/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Recolección de información</h4>
                            <dl class="">
                                <dt>Uso de bloques de entrada de datos</dt>
                                <dd>@info.BasicInputUse/ @info.SpriteCount </dd>

                                <dt>Uso de variables no creadas</dt>
                                <dd>@info.VariableUse/ @info.SpriteCount </dd>

                                <dt>Uso de sensores de sprite</dt>
                                <dd>@info.SpriteSensing/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <h4>Análisis de información</h4>
                            <dl class="">
                                <dt>Operadores lógicos básicos</dt>
                                <dd>@info.BasicOperators/ @info.SpriteCount </dd>

                                <dt>Operadores lógicos complejos</dt>
                                <dd>@info.VariableUse/ @info.SpriteCount </dd>

                                <dt>Operadores lógicos anidados</dt>
                                <dd>@info.AdvancedOperators/ @info.SpriteCount </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>