@model ResultadoScratch


<div class="card margin-10">
    <div class="header header-warning padding-10"
         style="height: 100%;">
        <h3>@Model.Nombre</h3>
    </div>
    <div class="content">
        <div>
            <dl>
                <dt>Scripts Muertos:</dt>
                <dd>@Model.DeadCodeCount</dd>

                <dt>Scripts Duplicados:</dt>
                <dd>@Model.DuplicateScriptsCount</dd>

                <dt>Total Bloques:</dt>
                <dd>@Model.NumBloques</dd>

                <dt>Total Scripts:</dt>
                <dd>@Model.NumScripts</dd>
            </dl>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-@Model.Nombre">
            Bloques Usados
        </button>
    </div>
</div>



<div class="modal fade" id="modal-@Model.Nombre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre del bloque</th>
                            <th>Frecuencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var block in Model.Bloques)
                        {
                            <tr>
                                <td>@block.Nombre</td>
                                <td>@block.Frecuencia</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>