@model EstudianteCursoViewModel
@{
    ViewData["Title"] = Model.Nombre;
}

<section>
    <div class="container-fluid">
        <h2>
            <span class="title">Tu curso</span> @Model.Nombre
        </h2>
        <h4>
            <span class="title">Profesor:</span> @Model.Profesor.NombreCompleto
        </h4>
    </div>
</section>

<section class="section section-gray">
    <div class="container">
        
        <div class="row margin-20">
            <h3 class="text-center margin-40"><span class="title">Tus</span> Desafíos</h3>
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-center nav-pills">
                    <li class="active"><a href="#pill1" data-toggle="tab" aria-expanded="false">Realizados</a></li>
                    <li class=""><a href="#pill2" data-toggle="tab" aria-expanded="false">Pendientes</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pill1">
                        <div class="list-group">
                            @foreach (var item in Model.DesafiosRealizados)
                            {
                                <div class="list-group-item">
                                    <span class="badge">
                                        2
                                    </span>
                                    <h3>
                                        <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@item.Id">
                                            @item.Nombre
                                        </a>
                                    </h3>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="pill2">
                        <div class="list-group">
                            @foreach (var item in Model.DesafiosNoCompletados)
                            {
                                <div class="list-group-item">
                                    <span class="badge">
                                        2
                                    </span>
                                    <h3>
                                        <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@item.Id">
                                            @item.Nombre
                                        </a>
                                    </h3>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center margin-top-60">
            <h3>Siguiente Desafío</h3>
            <hr />
            <div class="list-group">
                <div class="list-group-item">
                    <span class="badge">
                        2
                    </span>
                    <h3>
                        <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@Model.DesafioPendiente.Id">
                            @Model.DesafioPendiente.Nombre
                        </a>
                    </h3>
                    <h4>@Model.DesafioPendiente.Descripcion</h4>
                </div>
            </div>
        </div>

    </div>
</section>


