@model EstudianteCursoViewModel
@{
    ViewData["Title"] = Model.Nombre;
}

<section>
    <div class="container-fluid">
        <h2>
            <span class="title">Tu curso</span> @Model.Nombre
        </h2>
        <h4>
            <span class="title">Profesor:</span> @Model.Profesor.NombreCompleto
        </h4>
    </div>
</section>

<section class="section">
    <div class="container-fluid">
        <h4><span class="title">Tus</span> Desafíos</h4>
        <div class="row">
            <div class="col-md-6">
                <h3>Deafíos Realizados</h3>
                <hr />
                <div class="list-group">
                    @foreach (var item in Model.DesafiosRealizados)
                    {
                        <div class="list-group-item">
                            <span class="badge">
                                2
                            </span>
                            <h3>
                                <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@item.Id">
                                    @item.Nombre
                                </a>
                            </h3>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <h3>Desafíos Pendientes</h3>
                <hr />
                <div class="list-group">
                    @foreach (var item in Model.DesafiosNoCompletados)
            {
                        <div class="list-group-item">
                            <span class="badge">
                                2
                            </span>
                            <h3>
                                <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@item.Id">
                                    @item.Nombre
                                </a>
                            </h3>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row text-center margin-top-60">
            <h3>Siguiente Desafío</h3>
            <hr />
            <div class="list-group">
                <div class="list-group-item">
                    <span class="badge">
                        2
                    </span>
                    <h3>
                        <a asp-action="Desafio" asp-route-idCurso="@Model.Id" asp-route-idDesafio="@Model.DesafioPendiente.Id">
                            @Model.DesafioPendiente.Nombre
                        </a>
                    </h3>
                    <h4>@Model.DesafioPendiente.Descripcion</h4>
                </div>
            </div>
        </div>

    </div>
</section>


