@model EstudianteCursoViewModel
@{
    ViewData["Title"] = Model.Nombre;
}

<section>
    <div class="container-fluid">
        <h2>
            <span class="title">Tu curso</span> @Model.Nombre
        </h2>
        <h4>
            <span class="title">Profesor:</span> @Model.Profesor.NombreCompleto
        </h4>
    </div>
</section>

<section class="section-basic section-gray">
    <div class="container">
        <div class="row margin-20">
            <h1 class="text-center margin-40"><span class="title">Tus</span> Desafíos</h1>
            <div class="col-xs-12 col-sm-12">
                <ul class="nav nav-center nav-pills">
                    <li class="active"><a href="#pill1" data-toggle="tab" aria-expanded="false">Realizados</a></li>
                    <li class=""><a href="#pill2" data-toggle="tab" aria-expanded="false">Pendientes</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pill1">
                        @foreach (var item in Model.DesafiosRealizados)
                        {
                            <div class="col-md-4 col-sm-6">
                                <div class="card card-list card-plain">
                                    <div class="card-content ">
                                        <h6 class="category text-success text-center">
                                            Completado <i class="material-icons">check</i>
                                        </h6>
                                        <h2 class="card-title text-center title-serif">
                                            @item.Nombre
                                        </h2>
                                        <ul>
                                            <li><b>Descripción</b> @item.Descripcion</li>
                                            @foreach (var prop in item.InfoDesafio.ActiveProperties().Take(3))
                                            {
                                                <li>@prop</li>
                                            }
                                        </ul>
                                        <div class="text-center padding-20">
                                            <a asp-action="DesafioProgreso" 
                                               asp-route-idCurso="@Model.Id" 
                                               asp-route-idDesafio="@item.Id" 
                                               class="btn btn-success btn-raised btn-round btn-block">
                                                Ver progreso
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="pill2">
                        @foreach (var item in Model.DesafiosNoCompletados)
                        {
                            <div class="col-sm-6 col-md-4">
                                <div class="card card-list card-plain">
                                    <div class="card-content ">
                                        <h6 class="category text-warning text-center">
                                            Pendiente <i class="material-icons">priority_high</i>
                                        </h6>
                                        <h2 class="card-title text-center title-serif">
                                            @item.Nombre
                                        </h2>
                                        <ul>
                                            <li><b>Descripción</b> @item.Descripcion</li>
                                            @foreach (var prop in item.InfoDesafio.ActiveProperties().Take(3))
                                            {
                                                <li>@prop</li>
                                            }
                                        </ul>
                                        <div class="text-center padding-20">
                                            <a asp-action="Desafio" 
                                               asp-route-idCurso="@Model.Id" 
                                               asp-route-idDesafio="@item.Id" 
                                               class="btn btn-primary btn-raised btn-round btn-block">
                                                Iniciar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-basic padding-20">
    <div class="container">
        <div class="row">
            <h2 class="text-center margin-40"><span class="title">Siguiente</span> Desafío</h2>
            <div class="col-xs-12">
                <div class="card card-raised" style="background-image: url('../assets/img/examples/card-project6.jpg')">
                    <div class="card-content">
                        <h6 class="category text-info">Nuevo!</h6>
                        <h3 class="card-title text-center title-serif">@Model.DesafioPendiente.Nombre</h3>
                        <p class="card-description text-center">
                            @Model.DesafioPendiente.Descripcion
                        </p>
                        <div class="col-xs-8 col-xs-offset-2 text-center">
                            <a asp-action="Desafio" 
                               asp-route-idCurso="@Model.Id" 
                               asp-route-idDesafio="@Model.DesafioPendiente.Id" 
                               class="btn btn-success btn-round">
                                <i class="material-icons icon-xl">play_arrow</i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

