@model PaginationViewModel<Curso>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Desafio
            </th>
            <th>
                Profesor
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desafio.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesor.Nombres)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        
        @foreach (var item in Model.Pages)
        {
            <li class="@item.Item2">
                <a asp-action="Index" asp-route-skip="@((item.Item1-1)*Model.Take)"
                   asp-route-take="@Model.Take">
                    @item.Item1
                </a>
            </li>            
        }
    </ul>
</div>
